@tailwind base;
@tailwind components;
@tailwind utilities;

/* hero section */
.hero-section {
    background-image: url('./assets/slider-1.jpeg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}




/* register page  */
.register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-box {
    background-color: rgb(255, 250, 250);
}

.form-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-box input {
    width: 100%;
    height: 47px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0px 10px;
}

.social button {
    border: 1px solid black;
    padding: 8px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    width: 100%;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
}

.line {
    border-bottom: 1px solid rgb(226, 226, 226);
}

.button {
    background-color: #ed2027;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
}





.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}